@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 35.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 92.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 59.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 85%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 5.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 41.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 16.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 41.6%;
    --destructive-foreground: 0 85.7% 100%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 19.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply scroll-smooth;
}

.container {
  @apply mx-auto max-w-[1200px] px-[15px];
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
  @apply scroll-m-20  text-3xl font-semibold tracking-tight;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

.lead {
  @apply text-lg leading-[1.85rem] text-muted-foreground lg:text-xl;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-secondary;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/90;
}
